{
    "parserOptions": {
      "ecmaVersion": 2021
    },
    "env": {
      "browser": true
    },
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
      "linebreak-style":0,
      "react/jsx-filename-extension": 0,
      "import/prefer-default-export": 0,
      "react/jsx-props-no-spreading": 0
    }
  }
  